<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simpleSNS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C36A7C801EAD1A0B00E91EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C36A7C941EAD1A0C00E91EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C36A7C9F1EAD1A0C00E91EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
